* {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    color: rgb(150, 150, 150);
    line-height: 1;
}

head, script, style, [hidden] {
    display: none;
}

body {
    background: rgb(60, 60, 60);

    --tile-size: calc((100vh - 65px - 12px) / var(--tiles-y));
    /* --tile-size: 32px; */
}

game-title {
    text-align: center;
    margin: 10px 20px;
    font-size: 45px;
}

startscreen {
    width: 80%;
    height: calc((80vh - 65px));
    background: rgb(150, 150, 150);
}

info {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

info title {
    font-size: 30px;
    margin-bottom: 5px;
}

card {
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    margin: 11px 1px;
    overflow: hidden;
}

card[success] {
    margin: 10px 0;
    border: 2px solid greenyellow;
}

card-title {
    background: rgb(70, 70, 70);
    padding: 10px;
    font-size: 24px;
}

card-content {
    background: rgb(90, 90, 90);
    padding: 10px 20px;
    font-size: 20px;
}

board {
    position: relative;
    overflow: hidden;
    margin: 5px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

board row {
    display: flex;
}

board row tile {
    width: var(--tile-size);
    height: var(--tile-size);
    flex-shrink: 0;
}

key {
    width: var(--tile-size);
    height: var(--tile-size);
}

player {
    position: absolute;
    left: calc(var(--x) * var(--tile-size));
    top: calc(var(--y) * var(--tile-size));
    width: var(--tile-size);
    height: var(--tile-size);
    transition: 0.2s;
}

/* sprites */
player,
key,
tile {
    background: url('assets/sprite-map.png') no-repeat;
    background-size: calc(16 * var(--tile-size));
    image-rendering: pixelated;
    background-position: calc(var(--tile-size) * -1 * var(--sprite-x)) calc(var(--tile-size) * -1 * var(--sprite-y));
}

player[index="0"] {
    --sprite-x: 15;
    --sprite-y: 15;
}

player[index="1"] {
    --sprite-x: 14;
    --sprite-y: 15;
}

tile {
    --sprite-x: 4;
    --sprite-y: 7;
}

tile[deadly] {
    --sprite-x: 4;
    --sprite-y: 0;
}

tile[wall] {
    background: black;
}

tile[start] {
    background: orange;
}

tile[end] {
    background: greenyellow;
}

tile[door] {
    background: rgba(0, 0, 0, .2);
    transition: 1s;
}

tile[door][locked] {
    background: brown;
}

key {
    --sprite-x: 11;
    --sprite-y: 13;
}